@import './loader.css';

html {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    min-width: 320px;
    height: auto;
    min-height: 100%;
}

html body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1;
}

app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1;
    background: #f0f2f5;
}

@media (max-width: 575px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 20px;
    }
}